body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

hr {
  border: 1px solid rgba(0,0,0,0.5);
  border-top: 0px solid rgba(0,0,0,0.5);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.input {
	margin: 15px auto;
	padding: 5px;
	border: 1px solid rgba(0,0,0,0.29);
	font-size: 12px;
	width: 200px;
}

.btn {
  text-transform: uppercase;
  margin: 15px auto;
  padding: 5px;
  border: 1px solid rgba(0,0,0,.29);
  background: #fff;
  font-size: 12px;
  width: 125px;
  position: relative;
}

.btn-login-group {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.btn-login-group > .btn {
  margin: 15px 6px;
  width: 100px;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
}

.center {
  text-align: center;
}

.login {
	width: 100%;
  max-width: 590px;
  margin: 0 auto;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-error {
  margin: 0 auto;
  color: rgba(255,0,0,1);
}

.question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  padding: 0px 18px 18px 18px;
  border: 1px solid rgba(0,0,0,.5);
}

.options {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.options > div {
  width: 42%;
  max-width: 250px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
}

.selected {
  border: 1px solid rgba(0,100,0,1);
  background-color: rgba(0,255,0,0.1);
}

.options > div:hover {
  border: 1px solid rgba(0,100,0,1);
  background-color: rgba(0,255,0,0.1);
}